body{
    color: black;
}
.container-body{
    margin: 0 auto;
    position: absolute;
    left: 18%;
    right:18%;
    top: 15vmax;
    font-size: large;

}




/*Navbar & font*/
.navbar {
    background-color: #8bccff;
}
.navbar-default .navbar-nav>li>a {
    color:black;
}
.navbar-default .navbar-brand {
    color: black;
}


/*Boutons Accueil*/
.buttons-group{
    padding-top: 20%;
}
.button{
    height: 100px;
    border-radius: 15px;
}
.button-success{
    padding-top: 35px;
    background-color: #63FFBB;
    border-color: #1e7e34;
    border-width: 1px;
    color: black;
}
.button-info{
    padding-top: 35px;
    background-color: #8bccff;
    border-color: #005cbf;
    border-width: 1px;
    color: black;
}





/*Boutons de navigation*/
.next-button{
    /*Dimensions*/
    width: 140px;
    height: 50px;

    /*Design*/
    background-color: #63FFBB;
    border-color: #1e7e34;
    border-width: 1px;
    border-radius: 30px;
    color: black;

    /*Position*/
    position: fixed;
    z-index: 10;
    bottom: 10%;
    right: 10%;
}
.next-button:hover{
    background-color: #b3ffd8;
}
.previous-button{
    /*Dimensions*/
    width: 140px;
    height: 50px;

    /*Design*/
    background-color: #ffb4b4;
    border-color: #FF0000;
    border-width: 1px;
    border-radius: 30px;
    color: black;

    /*Position*/
    position: fixed;
    z-index: 10;
    bottom: 10%;
    left: 10%;
}
.previous-button:hover{
    background-color: #ffd1ce;
}
.reset-button{
    /*Dimensions*/
    width: 140px;
    height: 50px;

    /*Design*/
    background-color: #A2D1F9;
    border-color: #2A9CFF;
    border-width: 1px;
    border-radius: 30px;
    color: black;

    /*Position*/
    position: fixed;
    z-index: 10;
    top: 10%;
    left: 45%;
    right: 45%;
}
.reset-button:hover{
    background-color: #CCE7FF;
}





/*Form*/
.select{
    padding-left: 15%;
}
.group{
    margin: 10px;
}


.input{
    width: 40%;
}
.chosen-tag .single-chosen-tag{
    width: 100%;
}
