/*-------------------------------------
               Common
---------------------------------------*/
body{
    color: black;
}
footer{
    position : fixed;
    bottom: 0%;
    font-size: 8px;
    color: #c5cece;
}
.footer a{
    color:#8c9595;
}
.footer a:visited{
    color:#8c9595;
}
.path{
    margin-left: 10px;
    margin-top: -20px;
    font-weight: bold;
    font-size: 15px;
}
.number{
    margin-left: 10px;
    margin-top: 0px;
    font-weight: lighter;
    font-size: 15px;
}


.container-body{
    margin: 0 auto;
    position: absolute;
    left: 18%;
    right:18%;
    top: 15vmax;
    font-size: large;
}
.container-big-body{
    /*margin: 0 auto;*/
    position: relative;
    margin-right: 16%;
    margin-left: 8%;

    top: 5vmax;
    padding-bottom: 100px;
   /* margin-bottom: 25%;
    bottom: 50%;
    font-size: large;*/
    overflow-y: hidden;
}
.biochemistry{
    margin-top: 2.5%;
}
.text-area{
    margin-top: 20px;
}
textarea {
    resize: none;
}

/*-------------------------------------
                custom list
------------------------------------ */

.list-group {
    overflow: auto;
    max-height: 450px;
    scroll-behavior: smooth;
}

/*Navbar & font*/
.navbar {
    background-color: #8bccff;
}
.navbar-default .navbar-nav>li>a {
    color:black;
}
.navbar-default .navbar-brand {
    color: black;
}


/*--------------------------------
            Accueil
----------------------------------*/
.buttons-group{
    position : absolute;
    padding-left: 40%;
    margin-top: 30%;
}
.button{
    /*Dimensions*/
    width: 300px;
    height: 80px;

    /*Design*/
    background-color: #63FFBB;
    border-color: #1e7e34;
    border-width: 1px;
    border-radius: 50px;
    color: black;

    margin: 0 auto;
    padding-top: 22px;
    text-align: center;
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
}
.home{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.table-home{
    width: 100%;
    overflow-x: scroll;
    max-height: 100%;
}





/*------------------------------------
        Boutons de formulaire
  ------------------------------------*/
.next-button{
    /*Dimensions*/
    width: 140px;
    height: 50px;

    /*Design*/
    background-color: #63FFBB;
    border-color: #1e7e34;
    border-width: 1px;
    border-radius: 30px;
    color: black;

    /*Position*/
    position: fixed;
    z-index: 0;
    bottom: 5%;
    right: 5%;
}
.next-button:hover{
    background-color: #b3ffd8;
}
.next-button:disabled{
    background-color: #6c757d;
    border-color: #1b1e21;
}
.previous-button{
    /*Dimensions*/
    width: 140px;
    height: 50px;

    /*Design*/
    background-color: #ffb4b4;
    border-color: #FF0000;
    border-width: 1px;
    border-radius: 30px;
    color: black;

    /*Position*/
    position: fixed;
    z-index: 0;
    bottom: 5%;
    left: 5%;
}
.previous-button:hover{
    background-color: #ffd1ce;
}
.reset-button{
    /*Dimensions*/
    width: 140px;
    height: 50px;

    /*Design*/
    background-color: #A2D1F9;
    border-color: #2A9CFF;
    border-width: 1px;
    border-radius: 30px;
    color: black;

    /*Position*/
    position: fixed;
    z-index: 0;
    bottom: 5%;
    left: 45%;
    right: 45%;
}
.reset-button:hover{
    background-color: #CCE7FF;
}





/*------------------------------------
                Form
-------------------------------------- */
.select{
    padding-left: 15%;
}
.group{
    margin: 10px;
    padding-bottom: 10px;
}
.input{
    width: 15%;
}
.input-age{
    width: 40%;
}
.chosen-tag .single-chosen-tag{
    width: 100%;
}
.unite-chosen-tag{
    width: 20%;
}
.food-input{
    width: 11%;
}
.select-gene{
    width: 100%;
    display:block;
    max-height: 31px;
    overflow-y:auto;
}
#recherche{
    width: 100%;
    margin-bottom: 50px;
    max-height: 31px;
}




/*--------------------------------
             Results
----------------------------------*/
table{
    height: 250px;
}
 tr>th{
     font-size: 15px;
     max-width: none;
     max-height: 10px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}
tr>td{
    font-size: 13px;
    max-width: none;
    max-height: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th{
    padding-bottom: 0px;
    padding-top: 2px;
}
.boutons{
    padding-left: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
}




/*-----------------------------------------
          Protocol Specifications
-------------------------------------------*/
.specifications{
    margin: 5%;
}
.specifications-body{
    font-size: 15px;
}
.references{
    margin-top: 20px;
    font-size: 10px;
}
img{
    max-width: 100%;
}




/*-------------------------
	Inline help tip
--------------------------*/
.help-tip{
    position: absolute;
    top: 80px;
    right: 18px;
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 10;
}
.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}
.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}
.help-tip p{
    display: none;
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    width: 700px;
    height: auto;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px grey;
    border-color: red;
    right: -4px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: bold;
}
.help-tip p:before{
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#ffffff;
    right:10px;
    top:-12px;
}
.help-tip p:after{
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}